body{
    font-family: "Open Sans", sans-serif;
}
h1{
    color:#ccc;
    weight: 300;
}
figure{
    margin: auto;
}
.content article{
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
img{
    max-width: 100%;
}

/* Header Parallax */
.cow-box{
    position: relative;
    width: auto;
    height: 600px;
    background-image: url("../images/moutains_bg.jpg");
    background-position: top center;
    background-size: auto 600px;
    background-attachment: fixed;
    overflow: hidden;
}
.logo{
    height:200px;
    width: 100%;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -100px;
}
.cow{
    width: 960px;
    height:411px;
    background-image: url("../images/cow.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -360px;
    top: 380px;
}
.back-bird{
    width: 960px;
    height: 298px;
    background-image: url("../images/back-bird.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}
/* Grid pics and animations*/

.meat-pics {
    margin-bottom: 100px; }

.meat-pics figure {
    margin: 6px 10px;
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer; }

.meat-pics figure.is-showing {
    opacity: 1;
    transform: translateX(0px); }

.meat-pics figure img {
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out; }

.meat-pics figure:hover figcaption {
    left: 0%; }

.meat-pics figure:hover img {
    transform: scale(1.1); }

.meat-pics figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; }

/* Periscope */
.large-window{
    height: 640px;
    background-image: url("../images/burger.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:50px;
    border-radius: 50%;
}